* {
  box-sizing: border-box;
}

body {
  display: flex;
}

header {
  margin: 2vh 0 1vh 0;
}

img {
  margin-right: 20px;
  max-width: 170px;
}

ul {
  list-style: none;
}

#voter {
  margin-left: 6px;
}
#epoch {
  display: none;
}

#newPost {
  margin: 3vh 2vw 4vh 0vw;
}

#commmentVotes {
  margin-top: 2vw;
}

.r {
  display: flex;
  flex-direction: row;

}

.c {
  display: flex;
  flex-direction: column;
}

.reverseRow {
  flex-direction: row-reverse;
}

.centerLine {
  align-items: center;
}

.spaceBetween {
  justify-content: space-between;
}

.breakWord {
  word-wrap: break-word;;
  max-width: 550px;
}

.smMargin {
  margin: 2px;
}

.hiddenForm.ng-hide {
  transition:0.2s linear all;
  opacity:0;
}

.hiddenForm {
  transition: .4s linear all;
  opacity:1;
}

a, #newPost .btn, .btn, small, input {
  font-family: monospace !important;
}

.comments {
  margin: 20px 0 20px 0;
}

.post {
  margin: 10px 0 10px 0;
}
