* {
  box-sizing: border-box;
}

body {
  padding: 1vh 1vw;
  display: flex;
}

.r {
  display: flex !important;
  flex-direction: row;
}

.c {
  display: flex !important;
  flex-direction: column;
}

.centerLine {
  align-items: center !important;
}

.spaceBetween {
  justify-content: space-between;
}

img {
  height: 150px;
}

.desc {
  width: 50vw;
}

.center {
  justify-content: center !important;
}

#epoch {
  display: none;
}

.r.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

.r.ng-enter.ng-enter-active {
  opacity: 1;
}

.comments.ng-hide {
  transition:0.2s linear all;
  opacity:0;
}

.comments {
  transition: .4s linear all;
  opacity:1;
}

.comments {
  margin: 10px 0 10px 0; 
}

.post {
  margin: 10px 0 10px 0;
}
