<!DOCTYPE html>
<html ng-app='simpleRedditClone'>
  <head>
    <meta charset="utf-8">
    <title>simple reddit clone</title>
    <script type="text/javascript" src='node_modules/angular/angular.js' /></script>
      <script type="text/javascript" src='node_modules/angular-animate/angular-animate.js' /></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/controllers.js'></script>
    <script type="text/javascript" src='node_modules/moment/moment.js'></script>
    <script type="text/javascript" src='js/PostsService.js'></script>
    <script type="text/javascript" src='js/comments/add-comment.dir.js'></script>
    <script type="text/javascript" src='js/comments/show-comments.dir.js'></script>
    <script type="text/javascript" src='js/posts/new-post.dir.js'></script>


    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller='loadPageCtrl as home'>

    <div class='r container reverseRow'>
      <header>
        <div class='c spaceBetween'>
          <h6 class='text-primary'>angular intro with simple reddit clone</h6>
          <input class='form-group' placeholder='search' ng-model='home.search' />

          <select class='form-group' ng-model='app.orderProp'>
            <option value='sort'>sort posts</option>
            <option value='-vote'>by rating</option>
            <option value='-date[0]'>by newest</option>
          </select>
        </div>

        <div>
          <a href='#newPost' class='pull-right' ng-click='home.hidePostForm=!home.hidePostForm'>New Post</a>
        </div>
      </header>
      <section class='c col-md-9'>
        <main class='post' ng-repeat='post in home.posts | orderBy: home.orderProp | filter: home.search'>
          <section class='r centerLine'>
            <aside>
              <img ng-src='{{post.img}}' />
            </aside>


            <main class='c'>
              <post>
                <h3>{{post.title}} <br /> <small>posted {{post.date[1]}}</small></h3>
                <p id='epoch'>{{post.date[0]}}</p>
                <p class='breakWord'>"{{post.description}}"</p>
              </post>
            </main>
          </section>

          <div>
            <footer class='r'>
              <div class="c">
                <aside class='r centerLine'>
                  <section><h5>[ votes: {{post.vote}} ] &nbsp; </h5></section>
                  <section id='voter'>
                    <a href='#' ng-click='home.vote(post, "up")'>up</a> /
                    <a href='#' ng-click='home.vote(post, "down")'>down</a>
                  </section>
                </aside>

                <main id='postInfoAside' class='r'>
                  <section>
                    <a href='#' ng-click='showComments=!showComments'>
                      <ng-pluralize count='post.comments.length' when="{
                        '0': 'No comments',
                        '1': '{{post.comments.length}} comment',
                        'other': '{{post.comments.length}} comments'
                        }">
                      </ng-pluralize>
                    </a>
                  </section>
                  &nbsp;/&nbsp;
                  <section>
                    <a href='' ng-click='commentForm = !commentForm'>add comment</a>
                  </section>
                </main>
                <dir-show-comments></dir-show-comments>
                <dir-add-comment></dir-add-comment>
              </aside>
              </div>
            </footer>
          </div>
        </main>
        <dir-new-post></dir-new-post>
      </section>
    </div>
  </body>
</html>
