<!DOCTYPE html>
<html ng-app='simpleRedditClone'>
  <head>
    <meta charset="utf-8">
    <title>simple reddit clone</title>
    <script type="text/javascript" src='node_modules/angular/angular.js' /></script>
      <script type="text/javascript" src='node_modules/angular-animate/angular-animate.js' /></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='js/controllers.js'></script>
    <script type="text/javascript" src='node_modules/moment/moment.js'></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body ng-controller='loadPageCtrl'>

    <div class='r container reverseRow'>
      <header>
        <div class='c spaceBetween'>
          <input class='smMargin' placeholder='search' ng-model='search' />

          <select ng-model='orderProp'>
            <option value='sort'>sort posts</option>
            <option value='-vote'>by rating</option>
            <option value='-date[0]'>by newest</option>
          </select>
        </div>

        <div>
          <a href='#newPost' ng-click='hidePostForm=!hidePostForm'>New Post</a>
        </div>
      </header>
      <section class='c col-md-9'>
        <main class='post' ng-repeat='post in posts | orderBy: orderProp | filter: search'>
          <section class='r centerLine'>

            <img ng-src='{{post.img}}' />

            <section class='c'>
              <post>
                <h3>{{post.title}} <br /> <small>posted {{post.date[1]}}</small></h3>
                <p id='epoch'>{{post.date[0]}}</p>
                <p class='breakWord'>"{{post.description}}"</p>
              </post>
            </section>
          </section>

          <div>
            <footer class='r spaceBetween reverseRow col-md-offset-3'>
              <section>
                <a href='#' ng-click='showComments=!showComments'>
                  <ng-pluralize count='post.comments.length' when="{
                    '0': 'No comments',
                    '1': '{{post.comments.length}} comment',
                    'other': '{{post.comments.length}} comments'
                    }">
                  </ng-pluralize>
                </a>
              </section>
              <section>
                <a href='#' ng-click='commentForm=!commentForm'>new comment</a>
              </section>

              <votes class='r centerLine'>
                <main>[ votes: {{post.vote}} ]</main>
                <aside id='voter'>
                  <a href='#' ng-click='vote(post, "up")'>up</a> /
                  <a href='#' ng-click='vote(post, "down")'>down</a>
                </aside>
              </votes>
            </footer>

            <section ng-show='showComments' class='hiddenForm comments' ng-repeat='comment in post.comments'>

              <div class='r spaceBetween reverseRow col-md-offset-3'>
                <aside class='c col-md-3'>
                  <main>[votes: {{ comment.vote }}]</main>
                  <aside>
                    <a href='#' ng-click='vote(comment, "up")'>up</a> /
                    <a href='#' ng-click='vote(comment, "down")'>down</a>
                  </aside>
                </aside>
                <main class='col-md-6 breakWord'>
                  {{comment.comment}}
                </main>
                <aside class='col-md-3 breakWord'>{{comment.author}}: <br /> {{comment.time}} </aside>
              </div>

            </section>

            <new-comment-form>
              <form name='thisForm' ng-show='commentForm' class=' hiddenForm comments'>
                <div>
                  <h4>name (required)</h4>
                  <input ng-model="newComment.author" required />
                </div>
                <div>
                  <h4>comment (required)</h4>
                  <textarea type='text' ng-model="newComment.comment" required></textarea>
                </div>
                <input type="submit" ng-click='postComment(post, newComment)'/>
              </form>
            </new-comment-form>
          </div>
        </main>

        <a href='#newPost' ng-click='hidePostForm=!hidePostForm'>New Post</a>
        <section>
          <form id='newPost' name='createPost' ng-show='hidePostForm' class='hiddenForm r' >
            <section class='c'>
              <input class='btn btn-sm btn-danger smMargin' type="submit" ng-click='postPost(newPost)'/>
              <a class='btn btn-sm btn-primary smMargin' ng-click='hidePostForm=!hidePostForm'>Cancel</a>
            </section>
            <section class='c col-md-3'>

              <div>
                <input ng-model="newPost.title"  placeholder='title (required)' required />
              </div>
              <div>
                <input placeholder='image url (required)' ng-model="newPost.img" required />
              </div>
              <div>
                <textarea type='text' cols='80' rows='10' ng-model="newPost.description" placeholder='write stuff' required></textarea>
              </div>

            </section>

          </form>
        </section>
      </section>
    </div>

  </body>
</html>
