<ul>
  <li ng-show='showComments' class='hiddenForm comments' ng-repeat='comment in post.comments'>
    <div class='r'>
      <aside class='c commentsBuffer'>
        <h6>[votes: {{ comment.vote }}]</h6>
        <aside>
          <a href='' ng-click='home.vote(comment, "up")'>up</a> /
          <a href='' ng-click='home.vote(comment, "down")'>down</a>
        </aside>
      </aside>
      <main class='breakWord'>
        <h5>{{comment.author}}</h5>
        <main class='breakWord'>
          "{{comment.comment}}"
        </main>
        <h4><small>{{comment.time}}</small></h4>
      </main>
    </div>
  </li>
</ul>
